<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"> <head th:replace="fragments/header :: header" /> <body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form th:action="|/clientpage/${chatclientid}|" th:object="${form}" method="post" enctype="multipart/form-data"> <div class="form-group">
        <div class="form-group">
            <label th:for="price">Chat</label>
            <table class="table table-striped">
                <tbody>
                    <tr th:each="context : ${chatlist}">
                        <td th:text="${context}"></td>
                    </tr>
                </tbody>
            </table>
            <div>
            <input type="text" th:field="*{context}" class="form-control" placeholder="메세지를 입력하세요">
            </div>
            <button type="submit" class="btn btn-primary">전송</button>
            <br/>
            <br/>
            <br/>
        </div>
</div>


        <form method="post" th:action="|/clientpage/${chatclientid}|" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="file" class="form-control-file">
            </div>
            <button type="submit" value="file" class="btn btn-primary">Upload File</button>
<br/>
<div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>

