<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"> <head th:replace="fragments/header :: header" /> <body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form th:object="${password}" method="post" enctype="multipart/form-data"> <div class="form-group">
        <div class="form-group">
            <label th:for="price">올바르지 않은 계정입니다.</label>
            <ul class="nav nav-pills pull-right"> <li><a href="/home">home으로</a></li>
                <br/>
                <br><br/>
                <br><br/>
        </div>


    </div> <!-- /container -->
</body>
</html>

